.messageStle0{
  color: red;
}

.messageStle1{
  color: green;
}

.messageStle2{
  color: green;
}

.inputStle0{
  border-color: red;
}

.inputStle1{
  border-color: green;
}

.inputStle2{
  border-color: green;
}
