<!DOCTYPE html>
<html ng-app="FoodListApp">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Food List</title>
  </head>
  <body>
    <div ng-controller="FooldListController">
      <input type="text" ng-model="foodList" ng-class="inputStyle">
      <button ng-click="calcList();">Check If Too Much</button>
      <br>
      <p>You do NOT consider and empty item, i.e., , , as an item towards to the count!</p>
      <br>
      <div ng-class="messageStyle">{{message}}</div>
    </div>
  </body>
</html>
